@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Error";
}
<h2>@ViewBag.Title.</h2>



    
        

        <h2>An error occurred while processing your request.</h2>
        <P>You probably tried to do an operation that would make the database in consistnt. 
            <br/>
            TODO : Details of Error.
        </P>
    


