@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Subhasis Dutta<br />
    <abbr title="Phone">P:</abbr>
    972.408.6779
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:subhasis300887@gmail.com">subhasis300887@gmail.com</a><br />
</address>